.big-card-outer {
  width: 100%;
  background-color: lightblue;
  border-radius: 20px;
  height: 100vh;
}

.big-card-image {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.big-card-image-container {

  object-fit: cover;
}

.big-card-title {
  padding-bottom: 20px;
}
