.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/root/northcoders/launchpadv2/launchpad-frontend/events-fe/src/assets/crowd-event-hero.jpg') no-repeat;
    position: relative;
    background-size: cover;
    background-position: 0px -30px;
    width: 100%;
}

.header-contents{

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    max-width: 70%;
    bottom: 10%;
    left: 6wv;
    margin-left: 30px;
    margin-bottom: 20px;
    animation: fadeIn 3s;

}

.header-contents h2{
    font-weight: 600;
    color: white;
    font-size: 38px;
}

.header-contents p{
    color: white;
    font-size: 16px;;  
}

.header-contents button{
    border: none;
    color: #151568;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;

}

@media (max-width: 650px) {

    .header{
        background-position: 0px 0px;
    }

    .header-contents h2{
    font-weight: 500;
    color: white;
    font-size: 28px;
}


    .header-contents p {
        display: none;
    }

    .header-contents{
        max-width: 80%;
        margin-bottom: 0px;
        margin-left: 10px;
    }

}